RFC 2822 strict

Nearly all of the issues that have been opened up recently are related to relaxing the RFC 2822 parser, which makes sense because there are so many implementations that go outside the spec. However, I feel strongly there is also a need for a strict parser for certain use-caes. I think we should support a `strict: true` parser option that will strict enforce the spec. The default should be permissive as the module has moved toward as this is where more of the use-cases will be.

@andrewtimberlake thoughts?

I disagree. Many of the latest fixes have been bug fixes in incorrect handling of certain RFCs.
The only relaxed handling we support is in date parsing, which seems to be the most loose part of email encoding.
Also, while elixir-mail is based on RFC 2822, technically that RFC is a replacement of RFC 822, and is itself an obsolete RFC that has been replaced by RFC 5322
Also there are multiple other RFCs that have to come into play in correctly handling email (like RFC 2047 for encoded words, RFC 2046 for mime)
If I‘ve missed this, can you point to the places where elixir-mail has become relaxed outside of date handling?

From my point of view, and this is similar to HTML, an email parser should be able to parse any email found on the internet and produce a sane working result.
On the other hand, an email encoder should follow strict rules to the letter.
I think we should have a relaxed parser and a strict encoder.

What use cases do you think we need a strict parser for? If we do this, then we need a good way of reporting failures that always point back to the spec—I personally don’t think this is worth it.

I agree we need some kind of solution.  We here in Switzerland work with several languages that use Extended ASCII (ü, ß and ç, etc).  On top of that, we have many (most clients) that use Outlook and they send Extended ASCII encoded in latin1 - 

I see that these are sometimes handled, but we are having problems where mail and mailroom crash (or pass through unencoded subjects and filenames for attachments) and at least with subject and filenames it causes crashes.

```
2025-06-06T12:44:36Z app[9185953a72e548] fra [info]12:44:36.031 [error] Error processing %{from: ["buchhaltung@xxx.xx"], cc: [], to: ["xxx.xxx@xxx.xxx.xx"], headers: %{}, subject: "=?iso-8859-1?Q?WG:_Faktura_0625.28_Friesstrasse_28,_8050_Z=FCrich_?=", reply_to: ["xxxx@xxx.xx"], bcc: [], has_attachment: false, recipients: ["xxx.xxx@xxx.xxx.xx"]} -> :error, %ErlangError{original: {:invalid_byte, 252}, reason: nil},     (logger 1.18.3) lib/logger.ex:963: Logger.__do_log__/4
2025-06-06T12:44:36Z app[9185953a72e548] fra [info]    (avk_service 1.0.9) deps/mailroom/lib/mailroom/inbox.ex:232: anonymous fn/3 in AvkService.Boundary.ImapClient.process_mailbox/2
2025-06-06T12:44:36Z app[9185953a72e548] fra [info]    (elixir 1.18.3) lib/enum.ex:987: Enum."-each/2-lists^foreach/1-0-"/2
2025-06-06T12:44:36Z app[9185953a72e548] fra [info]    (mailroom 0.5.2) lib/mailroom/imap.ex:167: Mailroom.IMAP.search/4
2025-06-06T12:44:36Z app[9185953a72e548] fra [info]    (avk_service 1.0.9) deps/mailroom/lib/mailroom/inbox.ex:204: AvkService.Boundary.ImapClient.process_mailbox/2
Auch:



2025-06-06 13:15:25.058	11:15:25.057 [error] Error processing %{from: ["xxxx@xxx.xx"], cc: [], to: ["smart.invoice@xxx.xxx.xxx"], headers: %{}, subject: "=?iso-8859-1?Q?Per_E-Mail_senden:_Rechnung_Hauswartung_Juni_-_Wonneberg_Z?= =?iso-8859-1?Q?=FCri-31-32,_Rechnung_Hauswartung_Juni_-_Wonneberg_Z=FCri-?= =?iso-8859-1?Q?33-34,_Rechnung_Hauswartung_Juni_-_Wonneberg_Z=FCri-35-36,?= =?iso-8859-1?Q?_Rechnung_Hauswartung_Juni_-_Wonneberg_Z=FCri-37-38?=", reply_to: ["xxxx@xxx.xx"], bcc: [], has_attachment: false, recipients: ["xxx.xxx@xxx.xxx.xx"]} -> :error, %ErlangError{original: {:invalid_byte, 252}, reason: nil},     (logger 1.18.3) lib/logger.ex:963: Logger.__do_log__/4
2025-06-06 13:14:59.257	11:14:59.256 [error] Error processing %{from: ["xxxx@xxx.xx"], cc: [], to: ["xxx.xxx@xxx.xxx.xxx"], headers: %{}, subject: "=?iso-8859-1?Q?Per_E-Mail_senden:_Rechnung_Hauswartung_Juni_-_Wonneberg_Z?= =?iso-8859-1?Q?=FCri-17-18,_Rechnung_Hauswartung_Juni_-_Wonneberg_Z=FCri-?= =?iso-8859-1?Q?19-20,_Rechnung_Hauswartung_Juni_-_Wonneberg_Z=FCri-21-22,?= =?iso-8859-1?Q?_Rechnung_Hauswartung_Juni_-_Wonneberg_Z=FCri-23-24,_Rechn?= =?iso-8859-1?Q?ung_Hauswartung_Juni_-_Wonneber?=", reply_to: ["xxxx@xxx.xx"], bcc: [], has_attachment: false, recipients: ["xxx.xxx@xxx.xxx.xx"]} -> :error, %ErlangError{original: {:invalid_byte, 252}, reason: nil},     (logger 1.18.3) lib/logger.ex:963: Logger.__do_log__/4

```

The same thing happens with filenames, but when these don't get handled in `mail`, then `mailroom` can also crash with.

I am working on a fix, but I am also confused by the tests allowing / expecting escape character - I am also unsure why it looks like `iso-8859-1` is tested, but crashes.  I am happy to help, but we here in CH with lots of languages and lots of windows outlook users need a reliable safe fix.  I can provide problem emails.  I am also glad (would prefer) to help with fixes that help with multilingual solutions like here in CH.

@btihen if you could provide some failing test cases it would be a place we can start to look. As far as the test case on your end failing I'm not sure, our CI is passing and I just ran the tests locally with out issue.

@btihen happy to help if you can give us some examples. Have you seen that you can pass in a charset decoding function to handle multi language encoding (see #178)
Mailroom uses elixir-mail but is its own project so feel free to add a bug report there if needed.
Feel free to send me copies of emails you don’t want publicly available but show the problems. I’ll work out a generic test case from those and discard them as soon as we’ve found a fix.
Please start new issues to address any of the above so we keep things on topic.

@bcardarella and @andrewtimberlake - thanks, I am trying to test and narrow the problem with the problematic emails.  They are include customer information so I can't post them as is.  So I am trying to learn enough to make a 'fake' problematic email. It seems like it is happening within: `Mail.Parsers.RFC2822`